<!DOCTYPE kpartgui>
<kpartgui name="kprof">
	<MenuBar>
		<Menu name="file">
			<text>&amp;File</text>
			<Action name="file_open" />
			<Separator />
			<Action name="file_print" />
			<Separator />
			<Action name="file_quit" />
		</Menu>
	</MenuBar>
</kpartgui>
